[Unit]
Description=External drive

[Mount]
What=/dev/disk/by-id/ata-Samsung_SSD_870_QVO_8TB_S5SSNG0R107893J
Where=/var/mnt/data
Type=xfs
Options=defaults

[Install]
WantedBy=multi-user.target
