{
   "apiVersion": "helm.toolkit.fluxcd.io/v2",
   "kind": "HelmRelease",
   "metadata": {
      "name": "coder",
      "namespace": "coder"
   },
   "spec": {
      "chart": {
         "spec": {
            "chart": "coder",
            "sourceRef": {
               "kind": "HelmRepository",
               "name": "coder"
            }
         }
      },
      "interval": "15m",
      "values": {
         "coder": {
            "env": [
               {
                  "name": "CODER_PG_CONNECTION_URL",
                  "valueFrom": {
                     "secretKeyRef": {
                        "key": "url",
                        "name": "coder-db"
                     }
                  }
               },
               {
                  "name": "CODER_ACCESS_URL",
                  "value": "https://coder.local.d20.fan"
               }
            ],
            "ingress": {
               "enable": true,
               "host": "coder.local.d20.fan",
               "tls": {
                  "enable": true
               }
            },
            "initContainers": [
               {
                  "command": [
                     "/bin/sh",
                     "-exc",
                     "until curl -f http://127.0.0.1:8080/healthz; do\n  echo \"Waiting for Coder to be ready...\"\n  sleep 5\ndone\n\necho \"Initializing Coder with first user...\"\ncoder login \\\n  --first-user-username fancl20 \\\n  --first-user-email \"$CODER_USER_EMAIL\" \\\n  --first-user-password \"$CODER_USER_PASSWORD\" \\\n  --use-token-as-session \\\n  http://127.0.0.1:8080/\n\nexec sleep infinity\n"
                  ],
                  "env": [
                     {
                        "name": "CODER_USER_EMAIL",
                        "valueFrom": {
                           "secretKeyRef": {
                              "key": "username",
                              "name": "coder"
                           }
                        }
                     },
                     {
                        "name": "CODER_USER_PASSWORD",
                        "valueFrom": {
                           "secretKeyRef": {
                              "key": "password",
                              "name": "coder"
                           }
                        }
                     }
                  ],
                  "image": "ghcr.io/coder/coder:latest",
                  "name": "coder-init",
                  "restartPolicy": "Always"
               }
            ],
            "resources": {
               "requests": {
                  "memory": "1024Mi"
               }
            }
         }
      }
   }
}
