{
   "apiVersion": "helm.toolkit.fluxcd.io/v2",
   "kind": "HelmRelease",
   "metadata": {
      "name": "coder",
      "namespace": "coder"
   },
   "spec": {
      "chart": {
         "spec": {
            "chart": "coder",
            "sourceRef": {
               "kind": "HelmRepository",
               "name": "coder"
            }
         }
      },
      "interval": "15m",
      "values": {
         "coder": {
            "env": [
               {
                  "name": "CODER_PG_CONNECTION_URL",
                  "valueFrom": {
                     "secretKeyRef": {
                        "key": "url",
                        "name": "coder-db"
                     }
                  }
               },
               {
                  "name": "CODER_ACCESS_URL",
                  "value": "https://coder.local.d20.fan"
               }
            ],
            "ingress": {
               "enable": true,
               "host": "coder.local.d20.fan",
               "tls": {
                  "enable": true
               }
            },
            "initContainers": [
               {
                  "command": [
                     "/bin/sh",
                     "-exc",
                     "until curl -f http://127.0.0.1:8080/healthz; do\n  echo \"Waiting for Coder to be ready...\"\n  sleep 5\ndone\n\necho \"Initializing Coder with first user...\"\ncoder login --use-token-as-session\n\ntrap \"exit\" TERM\nwhile sleep 60; do\n  expire=$(date $(coder token view ${CODER_SESSION_TOKEN} -c \"expires at\" | tail -n 1 | cut -d\"T\" -f1) \"+%s\")\n  ttl=$(expr \"${expire} - $(date \"+%s\"))\n  if [[ \"${ttl}\" -gt 604800 ]]; then\n    continue\n  fi\n\n  token=$(coder token create --lifetime 14d)\n  if [[ -z ${token} ]]; then\n    echo \"Failed to create create new token.\"\n    continue\n  fi\n\n  data='{\n    \"kind\": \"Secret\",\n    \"apiVersion\": \"v1\",\n    \"metadata\": {\n      \"name\": coder-init-token,\n      \"namespace\": coder\n    },\n    \"type\": \"Opaque\"\n    \"data\": {\n      \"token\": \"'${token}'\",\n    },\n  }'\n  curl --cacert /var/run/secrets/kubernetes.io/serviceaccount/ca.crt -X POST \\\n    -H \"Content-Type: application/json\" \\\n    -H \"Authorization: Bearer $(cat /var/run/secrets/kubernetes.io/serviceaccount/token)\" \\\n    -d \"${data}\"\n    https://kubernetes.default.svc/api/v1/namespaces/coder/secrets\n\n  export CODER_SESSION_TOKEN=${token}\ndone\n"
                  ],
                  "env": [
                     {
                        "name": "CODER_URL",
                        "value": "http://127.0.0.1:8080/"
                     },
                     {
                        "name": "CODER_FIRST_USER_USERNAME",
                        "value": "fancl20"
                     },
                     {
                        "name": "CODER_FIRST_USER_EMAIL",
                        "valueFrom": {
                           "secretKeyRef": {
                              "key": "username",
                              "name": "coder"
                           }
                        }
                     },
                     {
                        "name": "CODER_FIRST_USER_USERNAME",
                        "valueFrom": {
                           "secretKeyRef": {
                              "key": "password",
                              "name": "coder"
                           }
                        }
                     },
                     {
                        "name": "CODER_SESSION_TOKEN",
                        "valueFrom": {
                           "secretKeyRef": {
                              "key": "token",
                              "name": "coder-init-token",
                              "optional": true
                           }
                        }
                     }
                  ],
                  "image": "ghcr.io/coder/coder:latest",
                  "name": "coder-init",
                  "restartPolicy": "Always"
               }
            ],
            "resources": {
               "requests": {
                  "memory": "1024Mi"
               }
            }
         }
      }
   }
}
