{
   "apiVersion": "kustomize.config.k8s.io/v1beta1",
   "configMapGenerator": [
      {
         "files": [
            "10-init-mongo.sh",
            "nginx.conf"
         ],
         "name": "unifi",
         "namespace": "default"
      }
   ],
   "generatorOptions": {
      "annotations": {
         "kustomize.toolkit.fluxcd.io/substitute": "disabled"
      }
   },
   "kind": "Kustomization",
   "resources": [
      "deployment.yaml",
      "httproute.yaml",
      "pvc_unifi-db.yaml",
      "pvc_unifi.yaml",
      "service_unifi.yaml",
      "serviceaccount.yaml"
   ]
}
