---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: 04-stage
  namespace: flux-system
spec:
  dependsOn:
  - name: 03-stage
  interval: 15m
  path: ./configs/clusters-ng/production/04-stage
  prune: true
  sourceRef:
    kind: GitRepository
    name: configs
  healthChecks:
  # Multus-CNI
  - apiVersion: apiextensions.k8s.io/v1
    kind: CustomResourceDefinition
    name: network-attachment-definitions.k8s.cni.cncf.io
  # Rook-Ceph
  - apiVersion: helm.toolkit.fluxcd.io/v2
    kind: HelmRelease
    name: rook-ceph
    namespace: rook-ceph
  # Argo Workflows
  - apiVersion: apps/v1
    kind: Deployment
    name: argo-server
    namespace: argo
