{
   "apiVersion": "kustomize.config.k8s.io/v1beta1",
   "configMapGenerator": [
      {
         "files": [
            "named.conf",
            "local.d20.fan.zone"
         ],
         "name": "bind9",
         "namespace": "default"
      }
   ],
   "configurations": [
      "namereference.yaml"
   ],
   "generatorOptions": {
      "annotations": {
         "kustomize.toolkit.fluxcd.io/substitute": "disabled"
      }
   },
   "kind": "Kustomization",
   "resources": [
      "deployment.yaml",
      "service_bind9.yaml",
      "serviceaccount.yaml"
   ]
}
