---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: 03-stage
  namespace: flux-system
spec:
  dependsOn:
  - name: 02-stage
  interval: 15m
  path: ./configs/clusters-ng/production/03-stage
  prune: true
  sourceRef:
    kind: GitRepository
    name: configs
  healthChecks:
  # Nginx-Gateway-Fabric
  - apiVersion: helm.toolkit.fluxcd.io/v2
    kind: HelmRelease
    name: nginx-gateway-fabric
    namespace: nginx-gateway
  # Flux / Tofu Autumation
  - apiVersion: v1
    kind: Secret
    name: tf-runner
    namespace: flux-system
  - apiVersion: v1
    kind: Secret
    name: telegram-token
    namespace: flux-system
  # SSL Certificate
  - apiVersion: v1
    kind: Secret
    name: d20-fan-tls
    namespace: cert-manager
