---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: 01-stage
  namespace: flux-system
spec:
  dependsOn:
    - name: 00-stage
  interval: 15m
  path: ./configs/clusters-ng/production/01-stage
  prune: true
  sourceRef:
    kind: GitRepository
    name: configs
  components:
  - ../../components/terraform
  postBuild:
    substitute:
      layer_name: 01-stage
  healthChecks:
  # ingress-nginx
  - apiVersion: helm.toolkit.fluxcd.io/v2beta1
    kind: HelmRelease
    name: ingress-nginx
    namespace: ingress-nginx
  # nginx-gateway-fabric
  - apiVersion: helm.toolkit.fluxcd.io/v2beta1
    kind: HelmRelease
    name: nginx-gateway-fabric
    namespace: nginx-gateway
  # vault configs
  - apiVersion: v1
    kind: Secret
    name: vault-storage-key
    namespace: vault
  - apiVersion: v1
    kind: ConfigMap
    name: vault-helm-chart-value-overrides
    namespace: vault
  # 1password configs
  - apiVersion: v1
    kind: Secret
    name: op-credentials
    namespace: onepassword
  - apiVersion: v1
    kind: Secret
    name: onepassword-token
    namespace: onepassword
