{
   "apiVersion": "v1",
   "kind": "Service",
   "metadata": {
      "annotations": {
         "external-dns.alpha.kubernetes.io/hostname": "*.sftp.local.d20.fan"
      },
      "name": "sftp",
      "namespace": "default"
   },
   "spec": {
      "allocateLoadBalancerNodePorts": false,
      "ports": [
         {
            "name": "ssh",
            "port": 22,
            "protocol": "TCP",
            "targetPort": 2222
         }
      ],
      "selector": {
         "app.kubernetes.io/name": "sftp"
      },
      "type": "LoadBalancer"
   }
}
