---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: configs
  namespace: flux-system
spec:
  refreshInterval: 1m
  secretStoreRef:
    name: onepassword
    kind: ClusterSecretStore
  target:
    name: configs
    creationPolicy: Owner
  dataFrom:
  - extract:
      key: Github Token
    rewrite:
    - regexp:
        source: credential
        target: password
---
apiVersion: image.toolkit.fluxcd.io/v1
kind: ImageUpdateAutomation
metadata:
  name: configs
  namespace: flux-system
spec:
  interval: 30m
  sourceRef:
    kind: GitRepository
    name: configs
  git:
    checkout:
      ref:
        branch: main
    commit:
      author:
        email: fluxcdbot@users.noreply.github.com
        name: fluxcdbot
      messageTemplate: '{{range .Updated.Images}}{{println .}}{{end}}'
    push:
      branch: main
  update:
    path: ./configs/clusters-ng
    strategy: Setters
