---
apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  name: configs
  namespace: flux-system
spec:
  interval: 1m
  ref:
    branch: main
  url: https://github.com/fancl20/homeserver-configs.git
  secretRef:
    name: configs
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: 00-stage
  namespace: flux-system
spec:
  interval: 15m
  path: ./configs/clusters/production/00-stage
  prune: true
  sourceRef:
    kind: GitRepository
    name: configs
  healthChecks:
  # Metallb
  - apiVersion: helm.toolkit.fluxcd.io/v2
    kind: HelmRelease
    name: metallb
    namespace: metallb-system
  # Gateway API
  - apiVersion: apiextensions.k8s.io/v1
    kind: CustomResourceDefinition
    name: gateways.gateway.networking.k8s.io
  # Tofu-Controller
  - apiVersion: helm.toolkit.fluxcd.io/v2
    kind: HelmRelease
    name: tofu-controller
    namespace: flux-system
