{
   "apiVersion": "helm.toolkit.fluxcd.io/v2",
   "kind": "HelmRelease",
   "metadata": {
      "annotations": {
         "kustomize.toolkit.fluxcd.io/substitute": "disabled"
      },
      "name": "velero",
      "namespace": "velero"
   },
   "spec": {
      "chart": {
         "spec": {
            "chart": "velero",
            "sourceRef": {
               "kind": "HelmRepository",
               "name": "velero"
            }
         }
      },
      "interval": "15m",
      "values": {
         "configMaps": {
            "node-agent-config": {
               "data": {
                  "config.json": "{\n    \"backupPVC\": {\n        \"rook-cephfs\": {\n            \"readOnly\": true\n        }\n    },\n    \"loadConcurrency\": {\n        \"globalConfig\": 2\n    }\n}"
               }
            }
         },
         "configuration": {
            "backupStorageLocation": [
               {
                  "bucket": "fancl20-backups",
                  "config": {
                     "region": "ap-southeast-2",
                     "s3Url": "https://s3.ap-southeast-2.wasabisys.com"
                  },
                  "credential": {
                     "key": "credentials",
                     "name": "velero"
                  },
                  "default": true,
                  "name": "wasabi",
                  "provider": "aws"
               }
            ],
            "defaultItemOperationTimeout": "8h",
            "features": "EnableCSI",
            "volumeSnapshotLocation": [
               {
                  "name": "rook-cephfs",
                  "provider": "csi"
               }
            ]
         },
         "deployNodeAgent": true,
         "initContainers": [
            {
               "image": "docker.io/velero/velero-plugin-for-aws",
               "imagePullPolicy": "IfNotPresent",
               "name": "velero-plugin-for-aws",
               "volumeMounts": [
                  {
                     "mountPath": "/target",
                     "name": "plugins"
                  }
               ]
            }
         ],
         "kubectl": {
            "image": {
               "repository": "public.ecr.aws/bitnami/kubectl"
            }
         },
         "nodeAgent": {
            "extraArgs": [
               "--node-agent-configmap=velero-node-agent-config"
            ]
         },
         "schedules": {
            "daily": {
               "schedule": "CRON_TZ=Australia/Sydney 0 4 * * *",
               "template": {
                  "includedNamespaces": [
                     "default"
                  ],
                  "snapshotMoveData": true,
                  "snapshotVolumes": true,
                  "storageLocation": "wasabi",
                  "ttl": "720h0m0s",
                  "volumeSnapshotLocations": [
                     "rook-cephfs"
                  ]
               }
            }
         }
      }
   }
}
