---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rook-ceph-cluster
  namespace: rook-ceph
spec:
  interval: 15m
  chart:
    spec:
      chart: rook-ceph-cluster
      sourceRef:
        kind: HelmRepository
        name: rook-ceph
  values:
    configOverride: |
      [global]
      bdev_enable_discard = true
      bdev_async_discard_threads = 1
    toolbox:
      enabled: true
    route:
      dashboard:
        host:
          name: rook-ceph.local.d20.fan
          pathType: PathPrefix
        parentRefs:
          - name: default
            namespace: nginx-gateway
            sectionName: https
    cephClusterSpec:
      mon:
        count: 1
      mgr:
        count: 1
      placement:
        osd:
          nodeAffinity:
            requiredDuringSchedulingIgnoredDuringExecution:
              nodeSelectorTerms:
              - matchExpressions:
                - key: node.kubernetes.io/instance-type
                  operator: In
                  values:
                  - cwwk-p5
                  - erying-14450hx
      resources:
        mgr:
          limits:
            memory: '4Gi'
        osd:
          requests:
            cpu: '500m'
            memory: '2Gi'
      dashboard:
        ssl: false
    cephBlockPools:
    - name: builtin-mgr
      spec:
        name: .mgr
        failureDomain: osd
        replicated:
          size: 3
          requireSafeReplicaSize: true
        parameters:
          compression_mode: none
        mirroring:
          enabled: false
      storageClass:
        enabled: false
    cephFileSystems: []
    cephObjectStores: []
